$primary-background-colour: #26282b;
$secondary-background-colour: #c7c7c7;
$primary-opaque-background-colour: rgb(38, 40, 43, 0.9);
$primary-border-colour: rgba(50, 50, 50, 0.75);
$secondary-border-colour: rgba(50, 50, 50);
$control-centre-colour: #2797d3;
$control-centre-hover-colour: #2786d3;
$scroll-track-background-colour: #888888;

$track-headers-colour: #828282;
$track-hover-background-colour: #33363a;