$primary-background-colour: #26282b;
$secondary-background-colour: #c7c7c7;
$primary-opaque-background-colour: rgb(38, 40, 43, 0.9);
$primary-border-colour: rgba(50, 50, 50, 0.75);
$control-centre-colour: #2797d3;