// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$C-Shanties-primary: mat-palette($mat-indigo);
$C-Shanties-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$C-Shanties-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$C-Shanties-theme: mat-light-theme($C-Shanties-primary, $C-Shanties-accent, $C-Shanties-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($C-Shanties-theme);

@import 'colours.scss';
html {
    height: 100%;

    body {
        height: 100%;
        background-color: $primary-background-colour;
        margin: 0;

        .router-outlet-container {
            width: 100%;
            height: calc(100% - 120px);
        }

        app-track-list {
            width: 100%;
            height: 100%;

            .container {
                height: 100%;
                overflow-y: auto;
                display: block;

                tr {
                    color: white;
                }
            }
        }
    
        app-control-centre {
            height: 115px;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            transition: height 0.4s ease-in-out;

            &.expanded {
                height: 100%;

                .album-art-background {
                    opacity: 100;
                }

                .control-centre-container {
                    height: 70%;
                    min-width: 820px;
                    min-height: 790px;
                    left: 30%;
                    right: 30%;
                    top: 15%;
                    bottom: 15%;
                    background-color: transparent;
                    box-shadow: none;
                    background-color: $primary-opaque-background-colour;
                    padding: 15px;

                    .info-container {
                        .album-art-container {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .album-art {
                                width: 600px;
                                height: 600px;
                            }
                        }

                        .song-info-container {
                            .row {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                span {
                                    text-align: center;
                                }
                            }

                            .song-name-container {
                                .song-name {
                                    font-size: 25px;
                                }
                            }
                        }
                    }
                }
            }

            .album-art-background {
                width: 100%;
                height: 188%;
                margin-top: -25%;
                filter: blur(8px);
                opacity: 0;
                transition: opacity 0.4s ease-in-out;
                z-index: 0;
                pointer-events: none;
            }
            
    
            .control-centre-container {
                height: 120px;
                background-color: $primary-background-colour;
                color: $control-centre-colour;
                transition: background-color 0.4s ease-in-out;
                -webkit-box-shadow: 0px -4px 1px $primary-border-colour;
                -moz-box-shadow: 0px -4px 1px $primary-border-colour;
                box-shadow: 0px -4px 1px $primary-border-colour;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;

                .info-container {
                    .album-art-container {
                        .album-art {
                            cursor: pointer;
                            width: 115px;
                            height: 115px;
                            transition: width 0.4s ease-in-out;
                            transition: height 0.4s ease-in-out;
                        }
                    }

                    .song-info-container {
                        .row {
                            min-height: 50%;
                            overflow-x: hidden;

                            span {
                                padding-right: 10px;
                                white-space: nowrap;
                                overflow-x: hidden;
                                text-overflow: ellipsis;
                                /*animation: scrollText 15s normal linear;
                                animation-play-state: paused;*/
                                transition: width 1s linear;
                                max-width: 100%;
                                float: right;

                                &:hover {
                                    /*animation-play-state: running;*/
                                    max-width: unset;
                                    width: auto;
                                }
                            }

                            @keyframes scrollText {
                                to {
                                  transform: translateX(-100%);
                                }
                              }
                        }

                        .song-name-container {
                            align-items: center;
                            
                            .song-name {
                                font-size: 20px;
                            }
                        }
                    }
                }
    
                .main-controls {
                    .seekbar {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        span {
                            font-size: 18px;
                            padding-left: 10px;
                            padding-right: 10px;
                            line-height: 2.6;
                        }

                        mat-slider {
                            width: 80%;
        
                            .mat-slider-wrapper {
                                .mat-slider-track-fill {
                                    background-color: $secondary-background-colour;
                                    border-radius: 1px;
                                }
        
                                .mat-slider-thumb-container {
                                    opacity: 0;
                                    cursor: pointer;
                                    -webkit-transition: opacity .4s cubic-bezier(.25,.8,.25,1);
                                    -moz-transition: opacity .4s cubic-bezier(.25,.8,.25,1);
                                    -ms-transition: opacity .4s cubic-bezier(.25,.8,.25,1);
                                    -o-transition: opacity .4s cubic-bezier(.25,.8,.25,1);
                                    transition: opacity .4s cubic-bezier(.25,.8,.25,1);
        
                                    .mat-slider-thumb {
                                        background-color: $control-centre-colour;
                                        cursor: pointer;                                        
                                    }
                                }
                            }
        
                            &:hover {
                                .mat-slider-wrapper {
                                    .mat-slider-track-fill {
                                        background-color: $control-centre-colour;
                                    }
        
                                    .mat-slider-thumb-container {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }

                    .media-controls {
                        div {
                            text-align: center;
                            user-select: none;

                            &.invisible {
                                display: none;
                            }

                            i {
                                font-size: 40px;
                                cursor: pointer;
                                -webkit-transition: text-shadow 0.1s ease-in-out;
                                -moz-transition: text-shadow 0.1s ease-in-out;
                                -ms-transition: text-shadow 0.1s ease-in-out;
                                -o-transition: text-shadow 0.1s ease-in-out;
                                transition: text-shadow 0.1s ease-in-out;

                                &:hover {
                                    text-shadow: 0 0 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}