<img class="album-art-background" [src]="imageData">

<div class="control-centre-container row">
    <div class="info-container" [ngClass]="{'col-lg-12 col-md-12 col-sm-12': controlCentreExpanded, 'col-lg-3 col-md-3 col-sm-3 row': !controlCentreExpanded}">
        <div class="album-art-container" [ngClass]="{'col-lg-12': controlCentreExpanded, 'col-lg-4': !controlCentreExpanded}">
            <img class="album-art" [src]="imageData" (click)="expandControlCentre($event)">
        </div>
        <div class="song-info-container" [ngClass]="{'col-lg-12': controlCentreExpanded, 'col-lg-7': !controlCentreExpanded}">
            <div class="row song-name-container">
                <span class="song-name" [ngClass]="{'col-lg-12': controlCentreExpanded}">{{ songName }}</span>
            </div>

            <div class="row artist-name-container">
                <span class="artist-name" [ngClass]="{'col-lg-12': controlCentreExpanded}">{{ artistName }}</span>
            </div>
        </div>
    </div>
    <div class="main-controls" [ngClass]="{'col-lg-12 col-md-12 col-sm-12': controlCentreExpanded, 'col-lg-6 col-md-6 col-sm-6': !controlCentreExpanded}">
        <div class="seekbar row">
            <span>{{ startTime }}</span>
            <mat-slider min="0" max="220" step="0.1" value="0" #seekbar></mat-slider>
            <span>{{ endTime }}</span>
        </div>
        
        <div class="media-controls row">
            <div class="col-lg-2 offset-3" (click)="backTrack($event)">
                <i class="material-icons">skip_previous</i>
            </div>
            <div class="col-lg-2" [ngClass]="{'invisible': !playing}" (click)="togglePlay($event)">
                <i class="material-icons">pause_circle_outline</i>
            </div>
            <div class="col-lg-2" [ngClass]="{'invisible': playing}" (click)="togglePlay($event)">
                <i class="material-icons">play_circle_outline</i>
            </div>
            <div class="col-lg-2" (click)="skipTrack($event)">
                <i class="material-icons">skip_next</i>
            </div>
        </div>
    </div>
    <div [ngClass]="{'col-lg-12 col-md-12 col-sm-12': controlCentreExpanded, 'col-lg-3 col-md-3 col-sm-3': !controlCentreExpanded}"></div>
</div>
