<table class="container" [ngClass]="{'invisible': !tracksLoaded}">
    <thead>
        <tr [ngClass]="{'hidden': controlCentreExpanded}">
            <th class="action-column"></th>
            <th class="title-column">TITLE</th>
            <th class="album-column">ALBUM</th>
            <th class="artist-column">ARTIST</th>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let track of trackList; let trackIndex = index" app-track [trackData]="track" [currentlyPlaying]="track.Id == currentPlayingSong"></tr>
    </tbody>
</table>

<div class="loading-container" [ngClass]="{'invisible': tracksLoaded}">
    <img class="loading-icon" src="./assets/svg/Loading.svg">
</div>
